.notify-topbar.alert {
  padding: 0.2rem 1.25rem;
  margin-bottom: 0px;
  border: none;
  border-radius: 0;
  transition: top 0.5s ease-in-out;
}

.alert-warning {
  color: #493c37;
  background-color: #ffcc33;
}
