// Override default variables before the import
$font-family-base: "Lato", sans-serif !default;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

/* General */

body {
  background: #574842;
  color: #fff;
}

.main-container {
  min-height: 92vh;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #fff;
}

a:hover {
  color: #d9d9d9;
}

/* Custom */

.intro {
  border-bottom: 1.6rem solid #3f3530;
}

/* Card */

.card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.6rem 1rem 0 rgba(0, 0, 0, 0.1);
  background: #726058;
}

.card-img-top {
  height: 15vw;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
}

.card:hover .btn {
  opacity: 1;
}

/* Text */

//hr is used to separate content
hr {
  margin: 1.5rem 0;
}

.text-danger {
  color: #ffa04d !important;
}

/* Button */

.btn {
  background: linear-gradient(180deg, #5e4e47 0%, #3f3530 100%);
  border: none;
}

.btn:hover {
  background-color: #3f3530;
  border-color: #5e4e47;
}

.btn:focus,
.btn.focus {
  box-shadow: 0 0 0 0.2rem #3f3530;
}

.landing-btn {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  border: 0.15rem solid #746058;
  box-shadow: 0 0 0 0.25rem #3a302c;
  width: 16rem;
}

/* Pagination */

.page-item.active .page-link {
  background-color: #ffc107;
  border: none;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem #ffd966;
}

.page-link:hover {
  color: #404040;
}

.page-link {
  color: #3f3530;
}

/* Carousel */

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}

/* Nav */

.navbar {
  background: linear-gradient(180deg, #5e4e47 0%, #726058 100%);
  box-shadow: 0 0.2rem 1.2rem #1d1916;
  border-bottom: 0.2rem solid #3f3530;
}

.navbar img {
  max-height: 32px;
}

.nav-item {
  background: #726058;
  border: 1.5px solid #3f3530;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 5px;
}

.nav-item.active {
  border-width: 2px;
}

.navbar-light .navbar-nav .nav-item > .nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar ul .active {
  background: #5e4e47;
}

.navbar ul a .active {
  opacity: 0.5;
}

@media only screen and (min-width: 992px) {
  .navbar-brand {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
  }

  .navbar-left-buttons {
    margin-left: 4rem;
  }

  .navbar-right-buttons {
    margin-right: 4rem;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #a7938b;
}

/* Form */

.form-control.is-invalid {
  border-color: #ffe6ff;
}
