// Override default variables before the import
$font-family-base: "Concert One", cursive !default;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

/* General */

body {
  background-image: url("https://i.ibb.co/jRWx2tq/4.jpg");
  background-repeat: no-repeat;
}

.main-container {
  min-height: 90vh;
}

html {
  scroll-behavior: smooth;
}

/* Card */

.card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 15vw;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
}

.card:hover {
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}
.card:hover .btn {
  opacity: 1;
}

/* Text */

//hr is used to separate content
hr {
  margin: 1.5rem 0;
}

.text-danger {
  color: #f5b7b1 !important;
}

/* Button */

.btn {
  font-weight: bold;
  background-color: #a280ff;
  border: none;
}

.btn:hover {
  background-color: #8f66ff;
}

/* Pagination */

.page-item.active .page-link {
  background-color: #a280ff;
  border: none;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem #8f66ff;
}

.page-link:hover {
  color: #808080;
}

.page-link {
  color: #1a1a1a;
}

/* Carousel */

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}

/* Nav */

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #ffe6ff;
}

.nav-item {
  font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-item > .nav-link {
  color: rgba(0, 0, 0, 0.9);
}

.navbar ul .active {
  border-bottom: 2px solid #a3e4d7;
  border-radius: 1px;
}

/* Form */

.form-control.is-invalid {
  border-color: #ffe6ff;
}
