.btn {
  border-width: 2px;
  background: #857671;
  border-color: #4e413b;
  border-radius: 12px;
  color: #e2ded3;
}

.btn:hover {
  background: #ccbe99;
  border-color: #4e413b;
  color: #4e413b;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #ccbe99;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active,
.show > .btn.dropdown-toggle {
  color: #e2ded3;
  background-color: #64554f;
  border-color: #493c37;
}

.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active:focus,
.show > .btn.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #ccbe99;
}

.landing-btn {
  background: linear-gradient(180deg, #5e4e47 0%, #3a302c 100%);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  border: 0.15rem solid #746058;
  box-shadow: 0 0 0 0.25rem #3a302c;
  width: 16rem;
}

.landing-btn:hover {
  border-color: #746058;
}
