.btn {
  border: none;
  background: #8f7970;
  color: #e2ded3;
}

.btn.disabled,
.btn:disabled {
  border-color: #fff;
  background: rgba(238, 241, 246, 0.3) !important;
  box-shadow: inset 0 0 0 1px #cfd7e6 !important;
  color: #cfd7e6 !important;
  cursor: not-allowed;
}

.btn.disabled:hover,
.btn:disabled {
  border-color: #fff;
}

.btn:hover {
  background: #816d65;
  border-color: #e2ded3;
  color: #e2ded3;
}

.btn:focus,
.btn.focus {
  box-shadow: 0 0 0 1px #e2ded3;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active,
.show > .btn.dropdown-toggle {
  color: #e2ded3;
  background-color: #64554f;
  border-color: #493c37;
}

.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active:focus,
.show > .btn.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #e2ded3;
}

.landing-btn {
  background: linear-gradient(180deg, #5e4e47 0%, #3a302c 100%);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  border: 0.15rem solid #746058;
  box-shadow: 0 0 0 0.25rem #3a302c;
  width: 16rem;
  font-size: 15px;
  color: #e2ded3;
}

.landing-btn:hover {
  border-color: #746058;
  background: linear-gradient(180deg, #66544d 0%, #493c37 100%);
}
