.card {
  border: 4px solid #3a312c;
  box-shadow: 0 0.6rem 1rem 0 rgba(0, 0, 0, 0.4);
  background: #736159;
  .card-img-top {
    height: 15vw;
    object-fit: cover;
  }

  .card-img-top.card-img-small {
    padding-top: 1.2rem;
    height: 14vh;
    object-fit: contain;
  }

  .card-footer {
    border-top: 2px solid #3a312c;
    background: #65554e;
  }
}
