.card {
  border: none;
  box-shadow: 0 0.6rem 1rem 0 rgba(0, 0, 0, 0.24);
  background: linear-gradient(180deg, #7c6e6a 0%, #65554e 100%);
  border-radius: 15px;
  .card-img-top {
    height: 18rem;
    object-fit: cover;
  }

  .card-img-top.card-img-small {
    padding-top: 1.2rem;
    height: 14vh;
    object-fit: contain;
  }
}

.product-card .card-title {
  color: #fed11b;
}
