.card {
  border: none;
  box-shadow: 0 0.6rem 1rem 0 rgba(0, 0, 0, 0.24);
  background: #736159;
  border-radius: 15px;
  .card-img-top {
    height: 15vw;
    object-fit: cover;
  }

  .card-img-top.card-img-small {
    padding-top: 1.2rem;
    height: 14vh;
    object-fit: contain;
  }
}
