.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #d7d1c1;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  color: #3a312c;

  form {
    background-color: #d7d1c1;
    border-color: #d7d1c1;

    .text-danger {
      color: #dd4b39 !important;
    }
  }
}

.login {
  color: #e2ded3;
}

.login-google {
  background: #dd4b39;
}

.login-github {
  background: #333;
}

.login-twitter {
  background: #00acee;
}

.login-facebook {
  background: #3b5998;
}

.close {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #3a312c;
  text-shadow: 0 1px 0 #3a312c;
}

.close:hover {
  color: #3a312c;
}

.modal-header,
.modal-footer {
  border-bottom-color: #e2ded3;
}
