.pagination > li > a,
.pagination > li > span {
  background-color: transparent;
  border: none;
  color: #1a1a1a;
  height: 30px;
  margin: 0 2px;
  min-width: 24px;
  padding: 8px 6px;
  font-weight: 600;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active {
  background-color: transparent;
  color: #1a1a1a;
}

.page-item.active .page-link {
  background-color: transparent;
  color: #1a1a1a;
  border-bottom: 2px solid #404040;
  border-radius: 0;
}

.pagination .page-link {
  box-shadow: none;
}

.page-item.disabled .page-link {
  color: #404040;
  pointer-events: none;
  cursor: auto;
  background-color: transparent;
}
