.pagination > li > a,
.pagination > li > span {
  background-color: transparent;
  border: 2px solid #e2ded3;
  border-radius: 20px;
  color: #e2ded3;
  height: 36px;
  margin: 0 2px;
  min-width: 36px;
  padding: 8px 12px;
  font-weight: 600;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active {
  background-color: #c3baa2;
  border-color: #e2ded3;
  color: #3a312c;
}

.page-item.active .page-link {
  background-color: #e2ded3;
  color: #3a312c;
  border-color: #e2ded3;
}

.pagination .page-link {
  box-shadow: none;
}

.page-item.disabled .page-link {
  color: #c3baa2;
  pointer-events: none;
  cursor: auto;
  background-color: transparent;
  border-color: #c3baa2;
}
