// Override default variables before the import
$font-family-base: "Lato", sans-serif !default;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

/* General */

body {
  background-color: #fff;
  color: #1a1a1a;
}

.main-container {
  min-height: 93.5vh;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #1a1a1a;
}

a:hover {
  color: #333333;
}

hr {
  //hr is used to separate content
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #1a1a1a;
  margin: 1em 0;
  padding: 0;
}

/* Custom */

.text-danger {
  color: #ffa04d !important;
}

/* Imports General */

@import "button";
@import "card";
@import "carousel";
@import "form";
@import "list";
@import "modal";
@import "nav-bar";
@import "nav";
@import "pagination";

/* Imports Pages */

@import "./pages/post-list";
@import "./pages/login";

/* Imports Custom */

@import "./custom/stepper.scss";
@import "./custom/notificationTopBar.scss";
