// Override default variables before the import
$font-family-base: "Lato", sans-serif !default;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

/* General */

body {
  background: #493c37;
  color: #e2ded3;
}

.main-container {
  min-height: 93.5vh;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #e2ded3;
}

a:hover {
  color: #4e413b;
}

hr {
  //hr is used to separate content
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #3a312c;
  margin: 1em 0;
  padding: 0;
}

/* Custom */

.intro {
  border-bottom: 1.6rem solid #3a312c;
}

.text-danger {
  color: #ffa04d !important;
}

/* Imports General */

@import "button";
@import "card";
@import "carousel";
@import "form";
@import "nav-bar";
@import "nav";
@import "pagination";

/* Imports Pages */

@import "./pages/post-list";

/* Imports Custom */

@import "./custom/stepper.scss";
